* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1 {
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 8.5vw;
    font-family: "Inter", sans-serif;
    background-color: #111;
}

#page1 p {
    text-align: center;
    margin-top: 3vh;
    font-weight: 200;
}

#some-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .6vh;

}

#some-content h4 {
    border: 1px solid #fff;
    font-size: 16px;
    margin-left: 4px;
    padding: 2px 4px;
    border-radius: 15px;
    font-weight: 200;
}

#some-content h4:nth-last-child(2) {
    border: none;
}

#page1 h1 svg {
    height: 8vw;
    width: 8vw;
}
/* navbar */
#nav {
    height:10vh;
    width: 100%;
    background-color:#111;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1vw 2vw;
    position: fixed;
    z-index: 10;
}

#nav h1 {
    padding-left: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2vw;
}

#nav-part2 {
    /* background-color: red; */
    width: 60%;
    padding: 2vh 2vh;
    /* margin-top: 2vh; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5vw;
    z-index: 9;
}

#nav-part2 h4 {
    font-weight: 700;
    font-size: 0.76vw;
    text-transform: uppercase;
    margin-bottom: 2.64vw;
}

#nav-part2 h5 {
    margin-bottom: .8vw;
    /* display: none; */
    /* background-color: red; */
}

#nav-part2 .nav-elem h5 {
    overflow: hidden;
    opacity: 0;
    transform: translateY(15px);
     pointer-events: none;
}

#nav-part2 h5 span {
    font-size: .74vw;
    font-weight: 500;
    display: inline-block;

}

#nav-bottom {
    background-color: #111;
    height: 0%;
    bottom: 0%;
    width: 79%;
    margin-left: 10vw;
    padding-right: 15vw;
    padding-left: 20vw;
    position: absolute;
    border-bottom: 1px solid #fff;
    /* z-index: 12; */
}

#nav button {
    background-color: #0DA34E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4vw 1vw;
    border: none;
    border-radius: 20px;
    font-size: .8vw;
    font-weight: 700;
    text-transform: uppercase;
}

#nav button svg {
    height: 1.3vw;
    padding-left: 10px;
}

#moving-div{
    background-color:transparent;
    display: flex;
    position: absolute;
    bottom: 3%;
    width: 43%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1.2vw;
    z-index: 9;
}
#moving-div .move{
    display:inline-block; 
    animation: moving 8s linear infinite;

}
#moving-div .move img{
    height: 1.2vw;
    margin: 0 1vw; 
}

#blur-left {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, #111, transparent);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#moving-div #right-blur{
     background-color: green;
     height: 100%;
     width: 20%;
     position: absolute;
     background: linear-gradient(to right,transparent, #111 );
     right: 0;
     top: 0;
     z-index: 2;
}
@keyframes moving{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* Page 2 Desiging part  */
#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0vw 10.6vw;
    padding-left: 12vw;
    padding-right: 8.9vw;
    padding-bottom: 8vw;
}
#page2-left{
    height: 100%;
    width: 40%;
    /* background-color: #333; */
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-between;
    padding: 3vw 0;
}
#page2-left p{
    font-size: 0.9vw;
    font-weight: 300;
    ;
}
#page2-left h5{
    width: 75%;
    font-size: 1.1vw;
    font-weight: 400;

}
#page2-right{
    height: 100%;
    width: 50%;
    /* background-color: #333; */
}
.right-elem{
    position:relative;
    /* background-color:rgb(84, 20, 179); */
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}
.right-elem h2{
    font-size: 1.7vw;
    font-weight: 400;
    z-index: 15;
}
.right-elem img{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    /* opacity: 0; */
    position: absolute;
    scale: 0;
    z-index: 1;
}

/* Page3 */

#page3{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-container{
    background-color:transparent;
    height: 23vh;
    width: 18vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.play{
    background-color: #fff;
    height: 17vh;
    width: 17vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-container h5{
    background-color: #fff;
    color: #111;
    height: 4vh;
    width: 90%;
    text-align: center;
    margin-top: 1vh;
    padding: 1vh 1vh;
    border-radius: 10px;
    font-size: 1.47vh;
    font-weight: 900;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translateY(16%);
    text-transform: uppercase;

}
.play i{
    color: #111;
    font-size: 4.2vh;
}
.play-container:hover h5{
    opacity:1;
    transform: translateY(0%);
}
#page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    border-radius: 30px;
    z-index: 99999;
}

#page4{
    min-height: 100vh ;
    width: 100%;
    position: relative;
    background-color: #fff;
}
.page4-upperpart{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
#page4 .left-section{
    height: 100%;
    width: 35%;
    background-color: #fff;
}
#page4 .left-section h2{
    font-size: 6.5vh;
    font-weight: 800;
    color: #111;
    width: 100%;
    padding-top: 8vh;
    padding-left: 5vw;
}

#page4 .right-section{
    height: 100%;
    width: 65%;
    background-color: #fff;
}
#page4 .right-section h5{
    color: #a3a3a3;
    text-transform: uppercase;
    padding-left: 13vw;
    margin-top: 10vh;
    font-size: 2.2vh;
    font-weight: 500;
}
#page4 .right-section p{
    color:#111;
    padding-left: 13vw;
    margin-top: 5vh;
    font-size: 3.4vh;
    /* margin-right: 5vh; */
}
.page4-bottompart{
    height: 80vh;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 90%;
}
#page4 .box-container{
    height: 88%;
    width: 90%;
    background-color: #fff;
    margin-left: 5%;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
#page4 .box-container .box-item{
    width: 33%;
    height: 49%;
    background-color: #f5f5f5;
    /* margin-top: -2vh; */
}
.box-item .itms{
    color: #111;
}