* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1 {
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 8.5vw;
    font-family: "Inter", sans-serif;
    background-color: #111;
}

#page1 p {
    text-align: center;
    margin-top: 3vh;
    font-weight: 200;
}

#some-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .6vh;

}

#some-content h4 {
    border: 1px solid #fff;
    font-size: 16px;
    margin-left: 4px;
    padding: 2px 4px;
    border-radius: 15px;
    font-weight: 200;
}

#some-content h4:nth-last-child(2) {
    border: none;
}

#page1 h1 svg {
    height: 8vw;
    width: 8vw;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}

/* navbar */
#nav {
    height:10vh;
    width: 100%;
    background-color:#111;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1vw 2vw;
    position: fixed;
    z-index: 10;
}

#nav h1 {
    padding-left: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2vw;
}

#nav-part2 {
    /* background-color: red; */
    width: 60%;
    padding: 2vh 2vh;
    /* margin-top: 2vh; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5vw;
    z-index: 9;
}

#nav-part2 h4 {
    font-weight: 700;
    font-size: 0.76vw;
    text-transform: uppercase;
    margin-bottom: 2.64vw;
}

#nav-part2 h5 {
    margin-bottom: .8vw;
    /* display: none; */
    /* background-color: red; */
}

#nav-part2 .nav-elem h5 {
    overflow: hidden;
    opacity: 0;
    transform: translateY(15px);
     pointer-events: none;
}

#nav-part2 h5 span {
    font-size: .74vw;
    font-weight: 500;
    display: inline-block;

}

#nav-bottom {
    background-color: #111;
    height: 0%;
    bottom: 0%;
    width: 79%;
    margin-left: 10vw;
    padding-right: 15vw;
    padding-left: 20vw;
    position: absolute;
    border-bottom: 1px solid #fff;
    /* z-index: 12; */
}

#nav button {
    background-color: #0DA34E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4vw 1vw;
    border: none;
    border-radius: 20px;
    font-size: .8vw;
    font-weight: 700;
    text-transform: uppercase;
}

#nav button svg {
    height: 1.3vw;
    padding-left: 10px;
}

#moving-div{
    background-color:transparent;
    display: flex;
    position: absolute;
    bottom: 3%;
    width: 43%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1.2vw;
    z-index: 9;
}
#moving-div .move{
    display:inline-block; 
    animation: moving 8s linear infinite;

}
#moving-div .move img{
    height: 1.2vw;
    margin: 0 1vw; 
}

#blur-left {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, #111, transparent);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#moving-div #right-blur{
     background-color: green;
     height: 100%;
     width: 20%;
     position: absolute;
     background: linear-gradient(to right,transparent, #111 );
     right: 0;
     top: 0;
     z-index: 2;
}
@keyframes moving{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}